{{#if isshowItembyDomain}}
<div class="facets-items-collection-view-cell-span{{spanSize}}">
	<div data-type="backbone.collection.view.cell"></div>
</div>
{{/if}}
{{!----
The context variables for this template are not currently documented. Use the {{log this}} helper to view the context variables in the Console of your browser's developer tools.

----}}
