/* Edited for Posh Theme */

.facets-faceted-navigation-results{
	padding-top: $sc-padding-lv4;
	padding-left: $sc-padding-lv3;
	padding-right: $sc-padding-lv3;

	font-size: $sc-font-size-m;

	@media (min-width: $screen-md-min){
		display: none;
	}
}

.facets-faceted-navigation-title-alt {
	color: $sc-color-primary;
}

.facets-faceted-navigation-facet-group {
	padding: $sc-padding-lv2 $sc-padding-lv3;

	@media (min-width: $screen-md-min) {
		padding-left: 0;
	}
}

.facets-faceted-navigation-title {
    font-family: $sc-theme-secondary-font;
    font-size: 1.067rem;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
	display: none;

	@media (min-width: $screen-md-min) {
		display: inline-block;
		padding: $sc-padding-lv3;
		padding-left: 0;
		font-size: $sc-font-size-l;
		font-weight: $sc-font-weight-semibold;
		text-align: left;
	}
}

.facets-faceted-navigation-facets-clear {
	@extend .filter-generic;

	width: inherit;
	font-size: $sc-font-size-xs;

	@media (min-width: $screen-md-min) {
		position: inherit;
        display: inline-block;

        float: right;
        padding: $sc-padding-lv3;
	}

	@media (max-width: $screen-sm-max) {
		margin-left: $sc-padding-lv3;
	}
}

.facets-faceted-navigation-facets-clear-icon {
	@extend .facets-faceted-navigation-facet-option-circle;
}
.facets-faceted-navigation-facet-group-expander:hover {
	text-decoration: none;
}

.facets-faceted-navigation-facet-group-title {
    font-size: $sc-font-size-l;
    font-weight: $sc-font-weight-bold;
    text-transform: uppercase;
    padding-bottom: $sc-padding-lv1;
    border-bottom: 1px solid $sc-color-theme-border;
}

.facets-faceted-navigation-facet-group-expander {
	display:block;
	padding: $sc-padding-lv2 0;
}

.facets-faceted-navigation-facet-group-expander-icon {
	float: right;
	color: $sc-color-copy;
	font-size: $sc-navigation-icon-size;
	margin-top: -3px;
	@extend .icon-angle-up;
	@include transition-transform(300ms ease);
}

.collapsed .facets-faceted-navigation-facet-group-expander-icon{
	@include rotate(180deg);
}

.facets-faceted-navigation-facet-option {
    @extend .single-select-option;
    padding: 0;
}

.facets-faceted-navigation-facet-option-circle {
	@extend .single-select-icon-close;
}


.facets-faceted-navigation-content .sc-pusher-header {
	margin:0;
}
