///////////////////////////////////////////////////////////////
//header sidebar overlay and wrapper

.header-sidebar-overlay {
	position: absolute;
	top: 0;
	right: 0;
	width: 0;
	height: 0;
	z-index: 1001;
	background-color: transparent;
	opacity: 0;
	@include transition(opacity 600ms ease);

	@media (min-width: $screen-md-min) {
		display: none;
	}
}

.header-sidebar-wrapper {
	height: 100%;
	@extend %scroll-y;
	overflow-x: hidden; //for right hand side menu
}

.header-sidebar-links {
	margin-top: 30px;
	a {
		@extend %header-link;
		text-align: left;
		color: $sc-mobile-header-sidebar-link-color;
	}
	a.header-profile-register-link {
		padding-left: 0;
		display: inline-block;
	}
}

.header-sidebar-logo {
	padding-top: 20px;
	padding-bottom: 10px;
}

.header-sidebar-logo,
.header-sidebar-menu {
	background-color: $sc-mobile-navigation-link-background-color;
	box-shadow: 15px 0 15px -10px transparentize($sc-theme-color-overlay, 1-0.175) inset;
}

.header-sidebar-logo,
.header-sidebar-menu,
.header-sidebar-links a {
	padding-left: 35px;
}


///////////////////////////////////////////////////////////////
//header sidebar animation

#main {
	@include transition-transform(400ms ease);
}

.header-sidebar-opened {

	@include translate(-$sc-sidebar-size, 0); //in from right
	height: 100%;
	width: 100%;
	position: fixed;

	@media (min-width: $screen-md-min) {
		@include translate(0, 0);
		height: auto;
		position: static;
	}

	.header-sidebar-overlay {
		width: 100%;
		height: 100%;
		opacity: 0.3;
	}
}


///////////////////////////////////////////////////////////////
//header sidebar menu layout and animation

.header-sidebar-menu-wrapper {
	width: 100%;
	position: relative;
	overflow: hidden;
}

.header-sidebar-menu-wrapper a {
	display: block;
}

.header-sidebar-menu {
	margin: 0;
	overflow: hidden;
	height: auto !important;
	padding-top: 45px;
	padding-right: 20px;
	padding-bottom: 20px;
}

.header-sidebar-menu-transition{
	@include transition(height 200ms);
}

//hide all the li's and a's
.header-sidebar-menu li,
.header-sidebar-menu-path > a {
	display: none;
}

// selective display required li's
// First rule is for the li marked as path
// second rule is for the first children inside the opened li

.header-sidebar-menu .header-sidebar-menu-path,
.header-sidebar-menu-opened > ul > li {
	display: block;
}

.header-sidebar-menu-myaccount.header-sidebar-menu-opened {
	.header-menu-myaccount-anchor,
	.header-menu-myaccount-overview {
		display: none;
	}
}


.header-sidebar-menu-flyer {
	position: absolute;
	width: 100%;
	top: 0;
	right: 0;
	margin: 0;
}

//Hide and show required li's
.header-sidebar-menu-flyer li {
	display: none;
}

.header-sidebar-menu-flyer > li {
	display: block;
}

.header-sidebar-menu-flyer.header-sidebar-menu-flyer-in {
	@include animation(headerSidebarMenuFlyerIn 300ms ease-in-out);
}

.header-sidebar-menu-flyer.header-sidebar-menu-flyer-out {
	@include animation(headerSidebarMenuFlyerOut 300ms ease-in-out);
}

@-webkit-keyframes headerSidebarMenuFlyerIn {
	0% {
		@include translate($sc-sidebar-size,0 );
	}

	100% {
		@include translate(0,0);
	}
}

@keyframes headerSidebarMenuFlyerIn {
	0% {
		@include translate($sc-sidebar-size, 0);
	}

	100% {
		@include translate(0,0);
	}
}

@-webkit-keyframes headerSidebarMenuFlyerOut {
	0% {
		@include translate(0,0);
	}

	100% {
		@include translate($sc-sidebar-size, 0);
	}
}

@keyframes headerSidebarMenuFlyerOut {
	0% {
		@include translate(0, 0);
	}

	100% {
		@include translate($sc-sidebar-size, 0);
	}
}

///////////////////////////////////////////////////////////////
//header sidebar menu look and feel

.header-sidebar-menu-wrapper a, .header-sidebar-menu-wrapper span {
	@extend .small-title-navigable;
	text-transform: uppercase;
	padding: $sc-padding-lv2 0;
	display: block;
}

.header-sidebar-menu-wrapper {
	color: $sc-mobile-navigation-link-color;

	a, span {
		color: $sc-mobile-navigation-link-color;

		&:hover, &:focus {
			color: $sc-mobile-navigation-link-hover-color;
		}

		&:active {
			color: $sc-mobile-navigation-link-hover-color;
		}
	}

	li {
		color: $sc-mobile-navigation-link-color;
	}
}

.header-sidebar-menu-wrapper li:last-child > a {
	border-bottom: 0;
}

.header-sidebar-menu-wrapper .header-sidebar-menu-back {
	//padding: $sc-padding-lv3;
	margin:0;
	text-transform: capitalize;
}

.header-sidebar-menu-push-icon {
	@extend .icon-angle-right;
	font-size: $sc-navigation-icon-size;
	float: right;
	color: $sc-mobile-navigation-link-color;
}

.header-sidebar-menu-pop-icon {
	@extend .icon-angle-left;
	font-size: $sc-font-size-l;
	margin-right: $sc-margin-lv2;
	color: $sc-mobile-navigation-link-color;
}

.header-sidebar-user-logout-icon{
	@extend .fa;
	@extend %fa-sign-out;
}

.header-sidebar-wrapper .header-profile-welcome-link{
	line-height: 1.1em;
	height: initial;
	text-align: left;
	padding-top: $sc-padding-lv3;
	padding-bottom: $sc-padding-lv3;
	cursor:default;
	color: $sc-color-secondary;
}

.header-sidebar-menu-link.active {
	color: $sc-color-copy;
}

.header-sidebar-menu-myaccount{}
.header-sidebar-quote-basket{}
