// Edited for Posh Theme

.storelocator-accesspoints-headerlink-link {
	min-width: $sc-target-size;
	text-align: center;
	display:inline;
	color: $sc-color-secondary;
	float:left;

	@media(min-width: $screen-md-min) {
		float:none;
		padding-right: $sc-padding-lv2;
	}
}


.storelocator-accesspoints-headerlink-link-icon {
	@extend .icon-map-marker;
	color: $sc-color-secondary;
	font-size:25px;
	position:relative;
	// top:15px;
	@media(min-width: $screen-md-min) {
		display: none;
	}
}

.storelocator-accesspoints-headerlink-link-text {
	display:none;
	@media(min-width: $screen-md-min) {
		display: inline-block;
	}
}
