/*
	Sass Application Entry Point
	Link all your sass dependencies in the right order

	Example:
	@import "other-sass-file.scss";
	@import "../../<other module>/Sass/other-sass-file.scss";
*/ 

.filteritemdomain-info-card {
    @extend .info-card;
}

.filteritemdomain-info-card-content {
    @extend .info-card-content;
    color: $sc-color-secondary;
    font-weight: bold;
}

//ESP

// .facets-faceted-navigation-facets-clear, .facets-facet-browse-narrowedby, div[data-facet-id~="custitem_espsite_domain"]{
// 	display: none;
// }
