.order-wizard-step-header{
	@extend .wizard-step-header;
}

.order-wizard-step-review-wrapper,
.order-wizard-step-content-wrapper{
	@extend .row;
}

.order-wizard-step-review-main,
.order-wizard-step-content-main,
.order-wizard-step-actions{
	@extend .col-xs-12;
	@extend .col-sm-7;
	@media (min-width: $screen-md-min) {
		width: 70%;
	}
}

.order-wizard-step-review-secondary,
.order-wizard-step-content-secondary-wrapper{
	@extend .col-xs-12;
	@extend .col-sm-5;
	float: right;
	@media (min-width: $screen-md-min) {
		width: 30%;
	}
}

.order-wizard-step-content-secondary{
	@extend .summary-wrapper;
}

.order-wizard-step-message{
	@extend .wizard-step-message;

	margin-bottom: $sc-margin-lv6 !important;
}

.order-wizard-step-button-container{
	@extend .wizard-step-button-container !optional;
}

.order-wizard-step-button-continue {
	@extend .wizard-step-button-continue;
	margin-bottom: $sc-margin-lv2;
}

.order-wizard-step-button-back{
	@extend .wizard-step-button-back;
}

.order-wizard-step-guest-message{}
.order-wizard-step-title{}

#wizard-step-content-right{
	padding-bottom: 65px;
}
