<h1>Support</h1>
<p><span style="background-color: inherit; color: rgb(0, 0, 0);">The&nbsp;Insidesource&nbsp;Home Office Support Team
        is&nbsp;available to help&nbsp;address any of your order or product concerns.&nbsp;If you do reach out to our
        team, please allow one business day for a response.</span><span style="color: rgb(0, 0, 0);">&nbsp;</span></p>
<h2>United States/North America</h2>
<p><strong style="background-color: inherit; color: rgb(0, 0, 0);">Response Hours:</strong><span
        style="background-color: inherit; color: rgb(0, 0, 0);"> Monday - Friday, 8 a.m. – 5 p.m. Pacific Time</span>
<br><strong style="background-color: inherit; color: rgb(0, 0, 0);">Email:</strong><span
        style="background-color: inherit;">&nbsp;</span><a href="mailto:homeoffice@insidesource.com" target="_blank"
        style="background-color: inherit; color: rgb(0, 0, 0);">homeoffice@insidesource.com</a><span
        style="background-color: inherit;">&nbsp;</span>&nbsp;<><strong style="background-color: inherit; color: rgb(0, 0, 0);">Ph:</strong><span
        style="background-color: inherit; color: rgb(0, 0, 0);">&nbsp;650.727.8002</span>&nbsp;</p>
<h2><span style="background-color: inherit;">UK/EMEA/Aus</span></h2>
<p><strong style="background-color: inherit; color: rgb(0, 0, 0);">Response Hours</strong><span
        style="background-color: inherit; color: rgb(0, 0, 0);">: Monday - Friday, 9 a.m. – 5:30
        p.m.&nbsp;GMT&nbsp;</span><br><strong style="background-color: inherit; color: rgb(0, 0, 0);">Email</strong><span
        style="background-color: inherit;">:&nbsp;</span> <a href="mailto:info@by-bailey.london" target="_blank"
        style="background-color: inherit; color: rgb(0, 0, 0);">info@by-bailey.london</a></p>
<p><strong>﻿</strong></p>
<p><strong style="background-color: inherit; color: rgb(0, 0, 0);">Return Policy:</strong><span
        style="background-color: inherit; color: rgb(0, 0, 0);"> We currently don’t allow returns do to the fact that
        all products offered in this program are made-to-order. If you are experiencing a damage or functionality
        challenge with your newly purchased product, please reach out to&nbsp;</span><a
        href="mailto:homeoffice@insidesource.com" target="_blank"
        style="background-color: inherit; color: rgb(0, 0, 0);">homeoffice@insidesource.com</a><span
        style="color: windowtext;">&nbsp;.</span></p>
<p><strong style="background-color: inherit; color: rgb(0, 0, 0);">PLEASE NOTE:&nbsp;Insidesource&nbsp;will be closed
        between December 21st, 2020 though January 4th, 2021 for the holiday season.&nbsp;You may experience extended
        delays in order processing, product lead time,&nbsp;and customer support response.</strong><span
        style="color: rgb(0, 0, 0);">&nbsp;</span></p>