@media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
   .container{
   	width:auto;
   }
}

@media (max-width:  $screen-sm-min) {
  body.modal-open {
    position: fixed;
    margin: 0;
    width: 100%;
  }
}

.modal-backdrop {
  position: fixed;
}

[data-dropdown-content] {
	display:none;
}

.open [data-dropdown-content] {
	display: block;
}

//fix for "save for later" removing modal
.modal-open .modal {
  z-index: 10030;
  background: rgba(0, 0, 0, 0.4);
}
