
.transaction-line-views-cell-navigable-actionable{
	@extend .table-flex-item-navigable;
	margin:$sc-margin-lv2 0;
}

.transaction-line-views-cell-navigable-actionable-item-image{
	@extend .table-flex-tdfirst;
	@extend .column-type-image;
	img{
		width:100%;
	}
}

.transaction-line-views-cell-navigable-actionable-details {
	@extend .table-flex-middle-first;
	@extend .table-flex-middle-data;
}

.transaction-line-views-cell-navigable-actionable-amount {
	@extend .table-flex-middle-last;
	@extend .table-flex-middle-data;
}

.transaction-line-views-cell-navigable-actionable-value{
	@extend .sc-value;
}

.transaction-line-views-cell-navigable-actionable-sku-label{
	@extend .sc-sku-label;
}
.transaction-line-views-cell-navigable-actionable-sku-value{
	@extend .sc-sku-value;
}

.transaction-line-views-cell-navigable-actionable-product-price-label {
	@extend .sc-label;
}
.transaction-line-views-cell-navigable-actionable-product-price-value {
	@extend .sc-value;
}
.transaction-line-views-cell-navigable-actionable-item-unit-price {
	@extend .table-flex-middle-data;
	@extend .column-type-amount;
}

.transaction-line-views-cell-navigable-actionable-item-unit-price-value{
	@extend .sc-value;
}

.transaction-line-views-cell-navigable-actionable-item-unit-price-label{
	@extend .sc-label;
}

.transaction-line-views-cell-navigable-actionable-item-quantity-label{
	@extend .sc-label;
}

.transaction-line-views-cell-navigable-actionable-item-quantity{
	@extend .sc-value;
	@extend .table-flex-middle-data;
}

.transaction-line-views-cell-navigable-actionable-item-totalprice-label{
	@extend .sc-label;
}

.transaction-line-views-cell-navigable-actionable-item-amount-label{
	@extend .sc-label;
}

.transaction-line-views-cell-navigable-actionable-item-amount-value{
	@extend .middle-price;
}

.transaction-line-views-cell-navigable-actionable-item-old-price{
	@extend .old-price;
}

.transaction-line-views-cell-navigable-actionable-product-title{
	@extend .medium-title;
}

.transaction-line-views-cell-navigable-actionable-product-title-anchor{
	@extend .medium-title-navigable;
}

.transaction-line-views-cell-navigable-actionable-amount{
	@extend .column-type-amount;
	@extend .table-flex-middle-data;
	@extend .table-flex-middle-last;
	padding-bottom: $sc-padding-lv3;
}

.transaction-line-views-cell-navigable-actionable-item-quantity-label,
.transaction-line-views-cell-navigable-actionable-item-unit-price-label,
.transaction-line-views-cell-navigable-actionable-item-amount-label{
	@media (min-width: $screen-md-min){
		display: none;
	}
}

.transaction-line-views-cell-navigable-actionable-header-col-amount {
	@extend .column-type-amount;
	display:block;
}

.transaction-line-views-cell-navigable-actionable-product-name{}
.transaction-line-views-cell-navigable-actionable-product-price{}
.transaction-line-views-cell-navigable-actionable-item-quantity-value{
	@extend .column-type-quantity;

	@media (min-width: $screen-md-min){
		display:block;
	}
}
.transaction-line-views-cell-navigable-actionable-item-reason-value{}
