.checkout-layout {
	@extend %sc-layout;
}

.checkout-layout-header {
	@include common-header;
}

.checkout-layout-content, .checkout-layout-notifications{
	@extend .container;
	@include site-max-width-container;
    padding-left: $sc-content-padding;
    padding-right: $sc-content-padding;
}

.checkout-layout-footer {
	@extend %sc-footer !optional;
}

.checkout-layout-breadcrumb{}

.checkout-layout-no-javascript-msg {
	@extend .message-warning;
	width: 100%;
}
