{{!-- Edited for Posh Theme --}}

<li class="recently-viewed-cell-item">
	<div class="recently-viewed-cell-item-cell">
		<div data-type="backbone.collection.view.cell"></div>
	</div>
</li>

{{!----
The context variables for this template are not currently documented. Use the {{log this}} helper to view the context variables in the Console of your browser's developer tools.

----}}
