.address-list {
  @extend .address-edit;
}
.address-list-default-addresses,
.address-list-other-addresses {
  .backbone-collection-view-row {
    margin-bottom: $sc-margin-lv4;
  }
}
.address-list-button-container {
  margin: 0 0 $sc-margin-lv6 0;
}
.address-list-button-info-cards-new {
  @extend .button-info-cards-new;
}
.address-list-button-back {
  @extend .button-back;
}
.address-list-button-back-icon {
  @extend .button-back-icon;
}
