/* Edited for Posh Theme */

.order-wizard-promocodeform{
	clear:both;
	display:block;
	overflow:hidden;
	padding-bottom:$sc-padding-lv2;
	padding-top:$sc-padding-lv2;
	margin-bottom: 0;
	//border-left: 1px solid $sc-color-theme-border;
	//border-right: 1px solid $sc-color-theme-border;
	//border-bottom: 1px solid $sc-color-theme-border;

	@media(min-width: $screen-sm-min){
		padding-bottom:$sc-padding-lv4;
	}
}

.order-wizard-promocodeform-expander-head{
}

.order-wizard-promocodeform-expander-head-toggle{
	@extend .accordion-head-toggle-secondary;
	border: 0;
	padding: 0;
}

.order-wizard-promocodeform-expander-toggle-icon{
	@extend .accordion-toggle-icon-secondary;
}

.order-wizard-promocodeform-expander-body{
	@extend .accordion-body-alt;
	border: 0;
	padding: 10px 0 0 0;
}
.order-wizard-promocodeform-tooltip{
	@extend .order-wizard-promocode-tooltip;
}
.order-wizard-promocodeform-expander-container{}
.order-wizard-promocodeform-unsupported-summary-warning{
	padding:$sc-padding-lv3;
}
