.address-list {
    h2{
        margin-bottom:$sc-margin-lv4;
    }
}

.address-details-info{
    margin-bottom:$sc-margin-lv2;
    min-height: 145px;
}
.address-details-container p {
    font-style: normal;
}
.address-details-container {
    padding: $sc-padding-lv3;
}
.address-details-container-multiselect-address-line {
    p {
        display: inline-block;
    }
}
.address-details-select-address {
    @extend .button-primary;
    @extend .button-medium;
    width: 100%;
}
.address-details-default-shipping-icon {
    @extend .icon-info;
    color: $sc-color-secondary;
    vertical-align: top;
}
.address-details-address-name{
    font-style:normal;
    font-weight: $sc-font-weight-normal;
    font-size:$sc-font-size-m;
    word-wrap: break-word;
}

.address-details-actions{
    margin-top:$sc-margin-lv3;
    text-align: right;
}

.address-details-edit-address,
.address-details-remove-address {
    @extend .button-edit;
    margin-right: $sc-margin-lv2;
    cursor: pointer;
}
.address-details-edit-address {
    margin-bottom: $sc-margin-lv2;
}
.address-details-remove-address {
    margin-right: 0;
}
.address-details-change-address{
    @extend .button-tertiary;
    @extend .button-small;
    margin-top: $sc-margin-lv3;
    display:inline-block;
    @media (min-width: $screen-sm-min) {
        margin-top: 0;
    }
}

.address-details-remove-address {
    margin-bottom: 0;
}
.address-details-default-shipping,
.address-details-default-billing {
    font-size: $sc-font-size-s;
    margin-bottom: 0;
}

.address-details-container-multiselect-address-title{
    font-style:normal;
    text-transform:capitalize;
}

.address-details-container-multiselect-address-city{
    display:inline;
}

.address-details-container-multiselect-address-state{
    display:inline;
}

.address-details-container-multiselect-address-zip{
    display:inline;
}

//Modal AddressDetailsView
.global-views-modal-content .global-views-modal-content-body {
    .address-edit-fields {
        margin-top: 0;
        color: darkgray;
    }
    .address-edit {
        background: none;
        padding: 0;
        margin: 0;
    }
}

.address-details-invalid-remove-msg {
    @extend .message-info;
}

.address-details-new-address {
    @extend .new-address-card-container;
    height: 235px;
}

.address-details-new-address-title {
    display: inline-block;
    margin-top: 60px;
    color: $sc-neutral-shade-300;
    font-size: 1.1rem;
    font-weight: bold;
}

.address-details-info-icon {
    @extend .icon-info;
    color: $sc-color-theme-700;
    font-size: $sc-font-size-xl;
    cursor: pointer;
}

.address-details-selector {
    @extend .address-card-container;
    cursor: pointer;
    border-bottom: 0px;
    padding: $sc-padding-lv3;
}

.address-details {
    @extend .address-card-container;
}

.address-details-selected {
    background-color: $sc-neutral-shade-0;
}

.address-details-action {
    @extend .button-link;
}

.address-details-selector-option {
    cursor: pointer;
    margin-bottom: 0;
}

.address-details-new-address-plus-icon {
    @extend .icon-plus;
    font-size: 2.5rem;
    color: $sc-color-theme-500;
}