// Footer variables
$sc-footer-background-color: #1D1D1D;//#F6F6F6; /* editable({"type": "color", "label": "Background color"}) */
$sc-footer-text-color: $sc-color-copy; /* editable({"type": "color", "label": "Text color"}) */

// Link variables
$sc-footer-link-color: $sc-footer-text-color; /* editable({"type": "color", "label": "Link color"}) */
$sc-footer-link-color-hover: $sc-neutral-shade-300; /* editable({"type": "color", "label": "Link hover color"}) */
$sc-footer-icon-color: $sc-neutral-shade-700; /* editable({"type": "color", "label": "Icon color"}) */
$sc-footer-icon-hover-color: $sc-neutral-shade-300; /* editable({"type": "color", "label": "Icon hover color"}) */

// Headings variables
$sc-footer-headings-color: $sc-color-secondary; /* editable({"type": "color", "label": "Column headings color"}) */
$sc-footer-headings-size: $sc-font-size-m; /* editable({"type": "string", "label": "Headings size"}) */

// Input fields variables
$sc-footer-fields-background-color: white; /* editable({"type": "color", "label": "Input background color"}) */
$sc-footer-fields-border-color: white; /* editable({"type": "color", "label": "Input border color"}) */
$sc-footer-fields-text-color: $sc-neutral-shade-300; /* editable({"type": "color", "label": "Input text color"}) */

// Copyright color
$sc-footer-copyright-text-color: white; /* editable({"type": "color", "label": "Copyright text color"}) */
$sc-footer-copyright-background-color: $sc-neutral-shade-300; /* editable({"type": "color", "label": "Copyright background color - mobile/tablet"}) */
$sc-footer-desktop-copyright-background-color: $sc-neutral-shade; /* editable({"type": "color", "label": "Copyright background color - desktop"}) */
$sc-footer-copyright-border-color: transparent; /* editable({"type": "color", "label": "Copyright top border color"}) */
