.payment-wizard-summary-module {
	margin-bottom: $sc-margin-lv4;
}

.payment-wizard-summary-module-container {
	@extend .summary-container;
}

.payment-wizard-summary-module-title {
	@extend .summary-title;
}

.payment-wizard-summary-module-button-continue {
	@extend .button-primary;
	@extend .button-large;
	@extend .button-generic;
	display: none;

	@media (min-width: $screen-sm-min) {
		display: block;
	}
}

.payment-wizard-summary-module-grid-float {
	@extend .summary-grid-float;
}

.payment-wizard-summary-module-invoices-value {
	@extend .summary-grid-right;
}

.payment-wizard-summary-module-estimated-total-value {
	@extend .summary-grid-right;
}

.payment-wizard-summary-module-credits-subtotal-value {
	@extend .summary-grid-right;
}

.payment-wizard-summary-module-deposits-subtotal-value {
	@extend .summary-grid-right;
}

.payment-wizard-summary-module-alert-information {
	@extend .message-success;
	display:block;
	margin: $sc-margin-lv3;
}
