.payment-wizard-invoice-module-row {
  @extend .row;
}

.payment-wizard-invoice-module-table {
  @extend .table-flex-record-actionable-navigable;
  margin-bottom:$sc-margin-lv4;
}

.payment-wizard-invoice-module-table tr {
  @media (min-width: $screen-md-min){
    display: table-row;
  }
}

.payment-wizard-invoice-module-table thead tr {
  border-bottom:1px solid $sc-color-theme-border-light;
  display:none;
  @media (min-width: $screen-md-min){
    display: table-row;
  }
}

.payment-wizard-invoice-module-table-header th {
  text-align: right;
  padding-top: $sc-padding-lv3;
  padding-bottom: $sc-padding-lv2;
  font-weight: normal;
}

.payment-wizard-invoice-module-table-body td {
  vertical-align: middle;
  @media (min-width: $screen-md-min){
    height: 60px;
  }
}

.payment-wizard-invoice-module-table-body td.recordviews-selectable-actionable-td-action {
  @media (min-width: $screen-sm-min){
    text-align: right;
  }
}

th.payment-wizard-invoice-module-table-invoice-number {
  width:20%;
  display:table-cell;
  text-align:left;
}

.payment-wizard-invoice-module-table-invoice-amount {
  width:20%;
  display:table-cell;
  text-align:right;
}

.payment-wizard-invoice-module-table-invoice-due-date {
  width:20%;
  text-align:right;
}

.payment-wizard-invoice-module-table-invoice-action {
  width:30%;
  display:table-cell;
}

.payment-wizard-invoice-module-list-empty {
  @extend .list-empty;
}


