{{!—- Edited for Posh Theme --}}

<div class="transaction-line-views-selected-option" name="{{label}}">
	<span class="transaction-line-views-selected-option-label">{{label}} </span>
	<span class="transaction-line-views-selected-option-value">{{selectedValue.label}}</span>
</div>



{{!----
Use the following context variables when customizing this template:

	model (Object)
	model.cartOptionId (String)
	model.itemOptionId (String)
	model.label (String)
	model.type (String)
	model.value (Object)
	model.value.label (String)
	model.value.internalid (String)
	values (Array)
	showSelectedValue (Boolean)
	isMandatory (Boolean)
	itemOptionId (String)
	cartOptionId (String)
	label (String)
	selectedValue (Object)
	selectedValue.label (String)
	selectedValue.internalid (String)
	selectedValue.isAvailable (Boolean)
	selectedValue.isActive (Boolean)
	selectedValue.color (String)
	selectedValue.isColorTile (Boolean)
	selectedValue.isImageTile (Boolean)
	selectedValue.image (Object)
	selectedValue.isLightColor (Boolean)
	isTextArea (Boolean)
	isEmail (Boolean)
	isText (Boolean)
	isSelect (Boolean)
	isCheckbox (Boolean)
	isDate (Boolean)
	htmlId (String)
	htmlIdContainer (String)

----}}
