/* Carousel variables */
$sc-home-cta-background-color-value: white; /* editable({"type": "color", "label": "Carousel caption background color"}) */

$sc-home-cta-background-color: transparentize($sc-home-cta-background-color-value, 0.2); /* used but not exposed to SMT tool */
$sc-home-cta-title-size-mobile: $sc-h1-font-size; /* editable({"type": "string", "label": "Carousel caption size - mobile"}) */
$sc-home-cta-title-size: $sc-h1-desktop-font-size; /* editable({"type": "string", "label": "Carousel caption size - desktop"}) */
$sc-home-cta-title-color: $sc-color-copy; /* editable({"type": "color", "label": "Carousel caption title color"}) */
$sc-home-cta-text-color: $sc-color-copy; /* editable({"type": "color", "label": "Carousel caption text color"}) */

/* Promo variables */
$sc-home-promo-background-color: #1D1D1D;//whitesmoke; /* editable({"type": "color", "label": "Promo background color"}) */

/* Carousel Icons */
$sc-home-carousel-icons-display: none; /* editable({
	"type": "string",
	"label": "Display Carousel Icons",
	"options": [
		{"value": "none", "text": "Hide"},
		{"value": "block", "text": "Show"}
	]
}) */
$sc-home-carousel-icons-color-desktop: $sc-neutral-shade-0; /* editable({"type": "color", "label": "Desktop Carousel Icons Color"}) */
$sc-home-carousel-icons-color-mobile: $sc-color-theme-100; /* editable({"type": "color", "label": "Mobile Carousel Icons Color"}) */

/* infoblocks variables */
$sc-home-infoblock-cell-content-overlay-opacity: 0.4; /* editable({
	"type": "string",
	"label": "Cell overlay opacity",
	"options": [
		{"value": "1", "text": "None"},
		{"value": "0.4", "text": "Light"},
		{"value": "0.7", "text": "Dark"}
	]
}) */
