/* Edited for Posh Theme */

.global-views-pagination {
    @extend .clearfix;
    width: 100%;
}

.global-views-pagination-links {
    text-align: center;
}

.global-views-pagination-next-icon{
	@extend .icon-angle-right;
}

.global-views-pagination-next-link,
.global-views-pagination-previous-link {
    text-transform: uppercase;
    @extend .pagination-active;
}

.global-views-pagination-prev-icon{
	@extend .icon-angle-left;
}

.global-views-pagination-links{
	@extend .pagination-links;
}

.global-views-pagination-prev{
	@extend .pagination-prev !optional;
}

.global-views-pagination-prev-disabled{
	@extend .pagination-prev-disabled;
}

.global-views-pagination-disabled{
	@extend .pagination-disabled;
}

.global-views-pagination-links-number{
	@extend .pagination-links-number;
}

.global-views-pagination-active{
	@extend .pagination-active;
}

.global-views-pagination-next-disabled{
	@extend .pagination-next-disabled;
}

.global-views-pagination-next{
	@extend .pagination-next !optional;
}

.global-views-pagination-count{
	@extend .pagination-count;
}

.global-views-pagination-links-compact{}