.global-views-back-to-top {
    background: $sc-color-theme-background;
    display: block;
    text-align:center;
    padding-bottom: $sc-padding-lv3;

    @media (min-width: $screen-sm-min) {
        display: none;
    }
}
.global-views-back-to-top a:hover {
    text-decoration: none;
}
.global-views-back-to-top-icon {
    @extend .icon-angle-up;
    color: $sc-color-link;
    display: block;
    font-size: 22px;
    padding: $sc-padding-lv2 0 0;
}
