/* Edited for Posh Theme */

$sc-color-social-sharing-flyout-content-social-facebook-icon: #3b5998;
$sc-color-social-sharing-flyout-content-social-twitter-icon: #00b6f1;
$sc-color-social-sharing-flyout-content-social-google-icon: #dd4b38;
$sc-color-social-sharing-flyout-content-social-pinterest-icon: #bd071d;
$sc-color-social-sharing-flyout-content-social-icon-color: $sc-neutral-shade-300;

.social-sharing-flyout-content {
	position: relative;
	float: right;
}
.social-sharing-flyout-content-button {
	@extend .sc-flyout-control;
	font-size: 15px;
	min-width: 85px;
}
.social-sharing-flyout-content-button-icon{
	@extend .fa;
	@extend %fa-share-alt-square;
	font-size: 20px;
}
.social-sharing-flyout-content-social {
	@extend .sc-flyout-content;
	width: 165px;
	left: auto;
	right: 0;
}
.social-sharing-flyout-content-social-facebook,
.social-sharing-flyout-content-social-twitter,
.social-sharing-flyout-content-social-google,
.social-sharing-flyout-content-social-pinterest  {
	text-align: left;
	padding-left: 0;
	color: $sc-color-theme-700;
	display: block;
	font-size: 15px;
	margin-right: $sc-margin-lv4;
	display: inline-block;

	span {
		display: none;
		@media (min-width: $screen-md-min) {
            display: inline;
            font-size: 0;
		}
	}
}
.social-sharing-flyout-content-social-pinterest {
	margin-bottom: 0;
}
.social-sharing-flyout-content-social-facebook-icon {
    color: $sc-color-social-sharing-flyout-content-social-icon-color;
	font-size: $sc-font-size-xxl;
	@extend .fa;
    @extend %fa-facebook;

    &:hover {
        color: $sc-color-link;
    }
}
.social-sharing-flyout-content-social-twitter-icon {
	color: $sc-color-social-sharing-flyout-content-social-icon-color;
	font-size: $sc-font-size-xxl;
	@extend .fa;
    @extend %fa-twitter;

    &:hover {
        color: $sc-color-link;
    }
}
.social-sharing-flyout-content-social-google-icon {
	display: none;
	color: $sc-color-social-sharing-flyout-content-social-icon-color;
	font-size: $sc-font-size-xxl;
	@extend .fa;
    @extend %fa-google-plus;

    &:hover {
        color: $sc-color-link;
    }
}
.social-sharing-flyout-content-social-pinterest-icon {
	color: $sc-color-social-sharing-flyout-content-social-icon-color;
	font-size: $sc-font-size-xxl;
	@extend .fa;
    @extend %fa-pinterest;

    &:hover {
        color: $sc-color-link;
    }
}

.facebook-like-btn
{
	margin: $sc-margin-lv2 $sc-margin-lv2 0 0;
}

.social-sharing-flyout-icons {
	margin-top: $sc-margin-lv3;
}

.social-sharing-flyout-icons:after {
	content: ".";
	visibility: hidden;
	display: block;
	height: 0;
	clear: both;
}
