.invoice-paid-list-button-back {
  @extend .button-back;
}

.invoice-paid-list-button-back-icon {
  @extend .button-back-icon;
}

.invoice-paid-list-header{
  border-top: 1px solid $sc-color-theme-border-light;
  margin-bottom: $sc-margin-lv2;
  padding: $sc-padding-lv3 0;
}

.invoice-paid-list-header-nav{
  margin-bottom: $sc-margin-lv4;
}

.invoice-paid-list-header-button-group {
  @extend .pill-button-group;
}

.invoice-paid-list-header-button-open {
  @extend .button-medium;
  @extend .pill-button;
}

.invoice-paid-list-header-button-paid {
  @extend .button-medium;
  @extend .pill-button;
  @extend .pill-button-active;
}

.invoice-paid-list-records {
  @extend .table-flex-record-selectable-navigable;
}

.invoice-paid-list-records-head tr {
  display: none;
  @media (min-width: $screen-md-min){
    display: table-row;
  }
}

.invoice-paid-list-records-head th {
  text-align: right;
  padding-bottom: $sc-padding-lv2;
  font-weight: normal;
  border-bottom: 1px solid $sc-color-theme-border-light;
  width: 25%;
}

.invoice-paid-list-records-head .invoice-paid-list-head-invoicenumber {
  text-align: left;
}

.invoice-paid-list-records-body {

  .recordviews-custom {
    text-align: right;
  }

  .recordviews-currency {
    margin-bottom:$sc-padding-lv3;
    text-align: right;

    @media (min-width: $screen-md-min) {
      margin-bottom:0;
    }
  }
}

.invoice-paid-list-body {
  .recordviews-currency {
    @extend .table-flex-td-last;
  }

  .recordviews-row {
    cursor: pointer;
  }
}

.invoice-paid-list-no-records {
  padding:$sc-padding-lv8 $sc-padding-lv3 $sc-padding-lv3 $sc-padding-lv3;
  text-align:center;
}