.recordviews-row {
  border-bottom: 1px solid $sc-color-theme-border-light;
  font-size: $sc-font-size-m;
  line-height: 1.8;

  @media (min-width: $screen-md-min) {
    line-height: normal;
    padding: 0;
  }
}

.recordviews-row:hover {
  background-color: $sc-color-theme-background;
}

.recordviews-row-header {
  @extend .recordviews-actionable-row;
  display: none;

  @media (min-width: $screen-md-min) {
    display: table-header-group;
  }
}

.recordviews-table {
  @extend .table-flex-record-navigable;
  min-height: $sc-target-size;

  td {
    vertical-align: middle;
  }
}

.recordviews-date-header,
.recordviews-items-header,
.recordviews-status-header,
.recordviews-currency-header {
  @extend .recordviews-header !optional;
}

.recordviews-generic {
  @extend .sc-value;
}
.recordviews-title {
  @extend .small-title-navigable;
  @extend .table-flex-td-first;
  color: $sc-color-theme-700;
  @media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
    width: 100%;
  }
}

.recordviews-date {
  @extend .sc-value;
}
.recordviews-currency {
  @extend .sc-value;
  @extend .middle-price;
}
.recordviews-status {
  @extend .sc-value;
  @extend .table-flex-td-last;
  color: $sc-color-primary;
}
.recordviews-label {
  @extend .sc-label;
  font-weight:$sc-font-weight-normal;

  @media (min-width: $screen-md-min) {
    display: none;
  }
}

@media (min-width: $screen-md-min) {
  .recordviews-date-header,
  .recordviews-date {
    text-align: right;
  }
  .recordviews-items-header,
  .recordviews-items {
    text-align: right;
  }
  .recordviews-currency-header,
  .recordviews-currency {
    text-align: left;
  }

  .recordviews-status {
    text-align: left;
  }
}

.recordviews-value {
  font-weight:$sc-font-weight-normal;
}

