.site-search {
	@extend .nav-search;
}

.site-search-content {
	@extend .nav-search-content;
}

.site-search-content-form {
}

.site-search-content-input {
	@extend .nav-search-content-input;

	.itemssearcher-input:focus{
		outline:none;
		outline-style:none;
		box-shadow:none;
		//border-color:transparent;
	}
}

.site-search-input-icon {
	@extend .nav-search-input-icon;
	& .svg-search {
		fill: $sc-neutral-shade-300;
	}

}

.site-search-input-reset {
	@extend .nav-search-input-reset;
	right: 0;
}

.site-search-button-submit {
	@extend .nav-search-button-submit;
	border-radius: $sc-border-radius;
}

.site-search-button-close {
	@extend .nav-search-button-close;
}

.site-search-input-reset-icon {
	@extend .nav-search-input-reset-icon;
}
