.order-wizard-paymentmethod-paypal-module-row {
	@extend .clearfix;
	@extend .col-xs-12;
	@extend .col-sm-4;
	padding: 0;
}

.order-wizard-paymentmethod-paypal-module-container {
	@extend .address-card-container;
	cursor: pointer;
	border-bottom: 0;
	padding: $sc-padding-lv3;
}

.order-wizard-paymentmethod-paypal-module-details {
	@extend .address-card-container;
}

.order-wizard-paymentmethod-paypal-module-container-selected {
	background-color: $sc-neutral-shade-0;
}

.order-wizard-paymentmethod-paypal-module-radio {
	margin-bottom: 0;
}

.order-wizard-paymentmethod-paypal-module-details-container {
	padding: $sc-padding-lv2 $sc-padding-lv3;
	height: 140px;
	line-height: 120px;
	text-align: center;
}

.order-wizard-paymentmethod-paypal-module-description{
	clear: both;
	@extend .message-info;
	@extend .global-views-message-info;
	margin-top: $sc-margin-lv6;
	width: 100%;
}

.order-wizard-paymentmethod-paypal-module-paypal-logo {
	display: inline-block;
	margin: 0 auto;
	height: auto;
	width: auto;
	max-width: 100%;
	max-height: 100%;
	vertical-align: middle;
}